<ion-header [translucent]="true">
  <toolbar-principal title="Seu perfil"></toolbar-principal>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button [routerLink]="['/login']" expand="block" color="primary">Login</ion-button>
          <span class="divider line one-line">or </span>
          <span class="already">already a user?</span>
          <ion-button [routerLink]="['/registration']" expand="block" color="danger">Cadastrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
